[package]
name = "leptos-struct-table"
version = "0.2.1"
edition = "2021"
authors = ["Marc-Stefan Cassola"]
categories = ["gui", "web-programming"]
description = "Generate a complete batteries included leptos data table component from a struct definition."
exclude = ["examples/", "tests/"]
keywords = ["leptos", "table", "data-sheet", "data-grid"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/Synphonyte/leptos-struct-table"

[dependencies]
leptos = { version = "0.3", default-features = false }
leptos-struct-table-macro = "0.3.1"
async-trait = "0.1"
paste = { version = "1.0", optional = true }
chrono = { version = "0.4", optional = true, features = ["serde"] }
serde = "1"
uuid = { version = "1", optional = true, features = ["v4", "js", "serde"]}

[features]
chrono = ["dep:chrono", "dep:paste"]
uuid = ["dep:uuid"]

[package.metadata."docs.rs"]
all-features = true
